<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register your cookie</title>
</head>
<body>
    <form action="/users/register-cookie-id" method="post">
        <input type="text" name="uid" id="uid" placeholder="User Id"></input>
        <input type="text" name="cookie" id="cookie" placeholder="Generated cookie"></input>
        <input type="submit" value="submit">
    </form>
</body>
</html>